MONGODB_URI=your_mongodb_connection_string
PORT=8000
CORS_ORIGIN=your_request_url

ACCESS_TOKEN_SECRET=your_secret_key
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET=your_secret_key
REFRESH_TOKEN_EXPIRY = 10d