MONGODB_URI=your_mongodb_connection_string
PORT=8000
CORS_ORIGIN=your_request_url

ACCESS_TOKEN_SECRET=your_secret_key
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET=your_secret_key
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_CLOUD_API_KEY=your_API_Key
CLOUDINARY_CLOUD_API_SECRET=your_API_Secret